section.keep-ratio 
  .container
    h3 Image keep ratio
    .keep-ratio-container
      img.keep-ratio-img(src="https://images.unsplash.com/photo-1681238339230-ad333583139e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1397&q=80" alt="" srcset="")